/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	General CSS Style
*/

body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	letter-spacing: 0.03em;
	line-height: 1.6;
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	min-height: 100vh;
}
.table{
	color: #000000;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section{
	display: grid;
	grid-area: section;
	margin-top: -150px;
}
a {
	text-decoration: none;
}
.header {
	grid-area: header;
	padding: 1.25rem;
	background: #ffffff;
	
}
.table {
	grid-area: table;
}
.header .logo {
	margin-bottom: 1.25em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
.logo h1 {
	font-size: 2em;
	color: black;
	
}
.menu {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
}
.menu a {
	padding: 0.625em;
	color: black;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
	background: #ffffff;
}
.menu a:hover {
	background: #191a1b;
	color: #fff;
}
.footer {
	background: #ffffff;
	font-size: 14px;
	grid-area: footer;
	padding: 25px;
	text-align: center;
	color: black;	
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Name user CSS Style
*/

.name_user {
	color: darkgray;
	text-align: left;
	height: 15px;
	text-transform: capitalize;
	font-family: 'Roboto',
		sans-serif;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Home CSS Style
*/

.featured {
	display: flex;
	background: #fcfcfc;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

}
.featured .container_text {
	padding: 1.25em;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.featured .container_thumbnail {
	width: 50%;
}
.featured .title {
	margin-bottom: 0.625rem;
	font-size: 1.5625em;
}
.featured .title a {
	font-weight: 400;
	color: #000000;
}
.featured .fecha {
	font-size: 1em;
	color: #000000;
	margin-bottom: 0.625rem;
}
.featured .extract {
	font-size: 1.25em;
	line-height: 1.5625rem;
	font-weight: 300;
	margin-bottom: 1.25rem;
	color: #000000;
}
.featured.article {
	grid-area: featured;
	background-color: #161718;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	height: 25em;
	display: grid;
	grid-template-columns: 1.3fr 1fr;
}
.featured.article .container_thumbnail {
	min-height: 100%;
	width: 100%;
}
.featured.article .container_thumbnail a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.article .title a {
	color: lightgray;
}
.article .fecha {
	color: white;
}
.article .extract {
	color: white;
}
.article .title::after {
	content: '';
	margin: 0.625em 0;
	display: block;
	background-color: #868686;
	width: 6em;
	height: 1px;
}
.btn_link {
	color: lightgray;
	cursor: pointer;
	display: inline-block;
	padding: 0.625em;
	background-color: #252528;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: flex-end;
}
.btn_link:hover {
	background: #000;
	text-decoration: none;
	color: lightgray;
}
.content_home {
	grid-area: content_home;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 1.25rem;
}
.carrusel {
	grid-area: carrusel;
	width: 100%;
	margin-top: -140px;
}
.carousel {
	margin: auto;
}
.carousel-item img {
	width: 100%;
}
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}
.carousel-item {
	height: 10rem;
}
.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}
.myCarousel {
	width: 100%;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Login CSS Style
*/

.form_login {
	color: #000000;
	grid-area: login;
	width: 100%;
	margin-top: -50px;
}
.form_login input {
	width: 100%;
	color: darkgray;
	background: #ffffff;
	border: 1px solid ;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
}
.form_login input:focus {
	background-color: #ffffff;
	border: 2px solid #0075ff;
	outline: none;
}
.input_login input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.input_login input:hover {
	background: #313335;
}
.block_login{
	grid-area: block_login;
	width: 350px;
}
.art_login{
	grid-area: art_login;
	width: 350px;
}

.facebook {
	font-size: 45px;
}

.facebook_login {
	display: flex;
	justify-content: center;
	align-items: center;
}

fieldset {
	border-top: 1px solid;
	border-color: #000;
	text-align: center;
	margin-bottom: -180px;
}

legend {
	font-family: 'Roboto Condensed',
		sans-serif;
	font-size: 16px;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Register CSS Style
*/

.form_register{
	color: #000000;
	grid-area: new_user;
	width: 100%;
	margin-top: -90px;
}
.form_register input {
	width: 100%;
	color: #000000;
	background: #ffffff;
	border: 1px solid ;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-color: darkgray;
}
.form_register .btn_register input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.form_register .btn_register input:hover {
	background: #313335;
}
.form_register input:focus {
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #0075ff;
	outline: none;
}
.form_register input:a{
	background-color: #313335;
}
.block_register{
	grid-area: block_register;
	width: 300px;
}
.art_register{
	grid-area: art_register;
	width:300px;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Recover password CSS Style
*/

.form_recover {
	color: #000000;
	grid-area: recover;
	margin-top: -30px;
	width: 100%;
}
.form_recover input {
	width: 100%;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	height: 45px;
	color: darkgray;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-color: darkgray;
}
.form_recover input:focus {
	background-color: #ffffff;
	color: darkgray;
	border: 2px solid #0075ff;
	outline: none;
}
.btn_recover {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.art_recover {
	grid-area: art_recover;
	width: 300px;
}
.block_recover {
	grid-area: block_recover;
	width: 300px;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Password reset complete/done CSS Style
*/

.restoration h2 {
	color: #000000;
	;
}
.restoration p {
	color: #000000;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	New password CSS Style
*/

.form_new_password {
	color: #000000;
	grid-area: new_password;
	margin-top: -260px;
	width: 100%;
}
.btn_new_password {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.form_new_password input {
	width: 100%;
	color: darkgray;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	border-color: darkgray;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
}
.btn_new_password input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.btn_new_password input:hover {
	background: #313335;
}
.form_new_password input:focus {
	background-color: #ffffff;
	border: 2px solid #0075ff;
	outline: none;
	color: darkgray;
}
.block_new_pass {
	grid-area: block_new_pass;
	width: 300px;
}
.art_new_pass {
	grid-area: art_new_pass;
	width: 300px;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Add News CSS Style
*/

.form_add_news {
	color: #000000;
	grid-area: add_news;
	margin-top: -210px;	
}
.news_table {
	width: 100%;
}
.news_table input {
	width: 100%;
	color: darkgray;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	border-color: darkgray;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
}
.news_table textarea {
	width: 100%;
	color: darkgray;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	border-color: darkgray;
	height: 80px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	resize: none;
}
.news_table input:focus,
.news_table textarea:focus {
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #0075ff;
	outline: none;
}
.news_table_img {
	width: 100%;
	height: 30px;
}
.news_table_img input {
	width: 100%;
	color: #000000;
	background: #ffffff;
	height: 30px;
	line-height: 30px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-radius: 3px;
	border-color: darkgray;
}
.news_table select {
	width: 250px;
	height: 35px;
	border-color: darkgray;
	color: darkgray;
}
.btn_add_news input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.btn_add_news input:hover {
	background: #313335;
}
.block_add_news {
	grid-area: block_add_news;
}
.art_add_news {
	grid-area: art_add_news;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Add community post CSS Style
*/

.form_community{
	color: #000000;
	grid-area: community;
	margin-top: -140px;
	width: 100%;
}
.table_community{
	width: 100%;
}
.table_community input{
	width: 100%;
}
.table_community select {
	width: 250px;
	height: 35px;
	border-color:darkgray;
	color: darkgray;
}
.table_community textarea{
	width: 100%;
	resize: none;
	height: 80px;
	color:darkgray;
	border-color: darkgray;
}
.table_community input{
	width: 100%;
	color: darkgray;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
}
.table_community input:focus,
.table_community textarea:focus {
	background-color: #ffffff;
	border: 2px solid #0075ff;
	outline: none;
	color:darkgray;
}
.table_community_img{
	width: 100%;
}
.table_community_img input{
	width: 100%;
	color: #000000;
	background: #ffffff;
	height: 30px;
	line-height: 30px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-radius: 3px;
	border-color: darkgray;
}
.btn_add_community input{
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.btn_add_community input:hover {
	background: #313335;
}
.art_add_community {
	grid-area: art_community;
	width: 200px;
}
.block_add_community {
	grid-area: block_community;
	width: 200px;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Filter community CSS Style
*/

.filter {
	color: #000000;
	width: 100%;
}
.filter input {
	width: 30%;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	height: 30px;
	color: darkgray;
	line-height: 30px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-color: darkgray;
}
.filter input:focus {
	background-color: #ffffff;
	border: 2px solid #0075ff;
	outline: none;
	color: darkgray;
}
.filter button {
	height: 35px;
	line-height: 20px;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.filter button:hover {
	background: #313335;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Modify community CSS Style
*/

.form_modify_community {
	width: 100%;
	margin-top: -240px;
	grid-area: modify_community;
	color:#000000;
}
.table_community_modify {
	width: 100%;
}
.table_community_modify select {
	width: 250px;
	height: 35px;
	border-color: darkgray;
	color: darkgray;
}
.table_community_modify input {
	width: 100%;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	height: 45px;
	color:darkgray;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-color: darkgray;
}
.table_community_modify textarea {
	width: 100%;
	resize: none;
	height: 80px;
	color: darkgray;
	border-color: darkgray;
}
.table_community_modify input:focus,
.table_community_modify textarea:focus {
	background-color: #ffffff;
	border: 2px solid #0075ff;
	outline: none;
	color: darkgray;
}
.table_community_modify_img input {
	width: 100%;
	color: #000000;
	background: #ffffff;
	height: 30px;
	line-height: 30px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-radius: 3px;
	border-color: darkgray;
}
.btn_modify_community input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.btn_modify_community input:hover {
	background: #313335;
}
.block_modify {
	grid-area: block_modify;
}
.art_modify {
	grid-area: art_modify;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Galery community CSS Style
*/

.share {
	color: #000000;
}
.container-galery {
	background-color: #ffffff;
}
.baguetteBox-figure-0 button {
	background-color: black;
}
.container {
	grid-area: container;
	margin-top: -220px;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	News CSS Style
*/

.new_content {
	grid-area: new_content;
	margin-top: -240px;
}
.form_news input {
	border: transparent;
	background-color: #ffffff;
	display: disabled;
	pointer-events: none;
}
.form_news textarea {
	border: transparent;
	background-color: #ffffff;
	pointer-events: none;
	width: 100%;
	max-height: 140px;
	box-decoration-break: none;
	resize: none;
	align-content: center;
}
.form_news {
	width: 100%;
}
.art_show_news {
	grid-area: art_show;
	display: grid;
	width: 200px;
	height: 600px;
	margin-top: -250px;
	margin-left: 20px;
	margin-right: -150px;
}
.block_show_news {
	display: grid;
	grid-area: block_show;
	display: grid;
	width: 200px;
	height: 600px;
	margin-top: -250px;
	margin-left: 80px;
	margin-right: -250px;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	News modify CSS Style
*/

.news_form_modify {
	color: #000000;
	grid-area: news_form_modify;
	margin-top: -280px;
}
.news_table_modify,
.news_table_modify_img,
.btn_news_modify {
	width: 100%;
}
.news_table_modify input {
	width: 100%;
	background: #ffffff;
	border: 1px solid;
	border-radius: 3px;
	height: 45px;
	color: darkgray;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-color: darkgray;
}
.news_table_modify textarea {
	width: 100%;
	resize: none;
	height: 120px;
	color: darkgray;
	border-color: darkgray;
}
.news_table_modify select {
	width: 250px;
	height: 35px;
	border-color: darkgray;
	color: darkgray;
}
.news_table_modify_img input {
	width: 100%;
	color: #000000;
	background: #ffffff;
	height: 30px;
	line-height: 30px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
	border-radius: 3px;
	border-color: darkgray;
}
.news_table_modify input:focus,
.news_table_modify textarea:focus {
	background-color: #ffffff;
	border: 2px solid #0075ff;
	outline: none;
	color: darkgray;
}
.btn_news_modify input {
	height: 45px;
	line-height: 45px;
	width: 100%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.btn_news_modify input:hover {
	background: #313335;
}
.block_news {
	grid-area: block_news;
}
.art_news {
	grid-area: art_news;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Bass container CSS Style
*/

.base_container {
	width: 90%;
	max-width: 80em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 1.25em;
	grid-template-columns: repeat(5fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   			header'
		'featured		featured 			featured'
		'content_home	content_home		content_home'
		'table			table 				table'
		'art_login		login				block_login'
		'art_register	new_user			block_register'
		'section        section     		section'
		'art_recover   	recover				block_recover'
		'art_community  community			block_community'
		"news 			news				sidebar"
		'carrusel		carrusel 			carrusel'
		'container      container   		container'
		'art_add_news	add_news			block_add_news'
		'art_show		new_content			block_show'
		'block_modify	modify_community	art_modify'
		'art_new_pass	new_password		block_new_pass'
		'art_news       news_form_modify	block_news'
	;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	body {
		font-size: 15px;
	}
	.art_show_news {
		width: 180px;
		margin-left: 20px;
		margin-right: -80px;
	}
	.block_show_news {
		margin-right: -100px;
		width: 180px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.header {
		font-size: 14px;
	}

	body {
		font-size: 16px;
	}
	.art_register,
	.block_register,
	.art_login,
	.block_login,
	.art_recover,
	.block_recover,
	.art_new_pass,
	.block_new_pass,
	.art_add_news,
	.block_add_news,
	.art_add_community,
	.block_add_community,
	.art_modify,
	.block_modify,
	.art_show_news,
	.block_show_news,
	.art_show_news img,
	.block_show_news img{
		width: 0px;
		height: 0px;
	}
	.base_container {
		grid-template-areas:
			'header				header  			header'
			'featured			featured 			featured'
			'content_home		content_home 		content_home'
			'table				table 				table'
			'login				login				login'
			'new_user			new_user			new_user'
			'community      	community   		community'
			'section			section				section'
			'recover 			recover   			recover'
			'art_login			block_login			art_login'
			'art_community  	block_community		art_community'
			'art_register		block_register		art_register'
			'carrusel			carrusel    		carrusel'
			'container      	container   		container'
			'add_news			add_news			add_news'
			'art_add_news		art_add_news 		block_add_news'
			'new_content		new_content			new_content'
			'art_recover		block_recover		art_recover'
			'new_password		new_password		new_password'
			'art_new_pass		block_new_pass		art_new_pass'
			'modify_community	modify_community	modify_community'
			'art_modify			block_modify		art_modify';
	}
}
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
	body {
		font-size: 14;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 768px) {
	body {
		font-size: 13px;
	}
	.featured.article {
		grid-template-columns: 1.4fr 0fr;
	}
	.featured.article .container_thumbnail {
		height: 16em;
	}
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width:450px){
	.header{
		font-size: 12px;
	}
}