.NewContent>div,
.NewContent .contenido,
.NewContent .sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}


.NewContent .sidebar {
    grid-column: 3 / 4;
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
    width: 40px;
}

.NewContent .formNews{
    width: 100%;
}