{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<form action="" method="POST" class="form_add_news" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="news_table">
        <tr>
            <label for="">Titular*</label>
            <td>
                {{ form.headline }}
            </td>
        </tr>
    </table>
    <table class="news_table">
        <tr>
            <label for="">Fecha*</label>
            <td>
                {{ form.date }}
            </td>
        </tr>
    </table>
    <table class="news_table">
        <tr>
            <label for="">Demografía*</label>
            <td>
                {{ form.demography }}
            </td>
        </tr>
    </table>
    <table class="news_table">
        <tr>
            <label for="">Sinopsis*</label>
            <td>
                {{ form.synopsis }}
            </td>
        </tr>
    </table>
    <table class="news_table">
        <tr>
            <label for="">Bajada*</label>
            <td>
                {{ form.byline }}
            </td>
        </tr>
    </table>
    <table class="news_table">
        <tr>
            <label for="">Entrada*</label>
            <td>
                {{ form.lead }}
            </td>
        </tr>
    </table>
    <table class="news_table">
        <tr>
            <label for="">Cuerpo*</label>
            <td>
                {{ form.body }}
            </td>
        </tr>
    </table>
    <table class="news_table_img">
        <tr>
            <label for="">Imagen*</label>
            <td>
                {{ form.image }}
            </td>
        </tr>
    </table>
    <p> <br></p>
    <div class="btn_add_news">
        <input type="submit" value="Guardar">
    </div>
</form>
<div class="block_add_news"></div>
<div class="art_add_news"></div>
{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}