<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Manga</title>
    <!-- Diseño de letra, se pueden encontrar más en https://fonts.google.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    <!-- Importar bootstrap, también sirve descargarlo y realizar link a elemento. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Estilo CSS que permite normalizar página https://necolas.github.io/normalize.css/ -->

    {% load pwa %}

    {% progressive_web_app_meta %}


    {% load static %}
    {% block link %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/normalize.css'%}">
    <!-- Estilo CSS propio -->
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    <!-- Elemento contenedor /agrupador de contenidos o secciones. Contiene título, menú y articulos. -->
    <div class="base_container">
        <!-- Encabezado de la página. -->
        <header class="header">
            <div class="logo">
                <h1>My Manga</h1>
                {% if user.is_authenticated %}
                <p class="name_user">Hola, {{ user.username }}</p>
                {% endif %}
            </div>
            <!-- Botones de menú. -->
            <nav class="menu">
                <a href="{% url 'home' %}">Inicio</a>
                {% if user.is_authenticated %}
                <a href="{% url 'galery_community' %}">Galería Comunidad</a>
                {% if request.user.is_staff %}
                <a href="{% url 'list_community' %}">Listar Comunidad</a>
                <a href="{% url 'add_news' %}">Crear noticia</a>
                <a href="{% url 'list_news' %}">Listar noticia</a>
                {% endif %}
                <a href="{% url 'logout' %}">Cerrar sesión</a>
                {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}

            </nav>

        </header>

        {% block contenido %}

        {% endblock %}

    </div>

    {% block footer %}

    {% endblock %}

    {% block js %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if  messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}
</body>

</html>