{% extends 'core/base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="{% static 'core/css/galeria.css'%}">
{% endblock %}

{% block contenido%}
<p class="share">¿Te gustaría compartir tu arte en nuestra comunidad? <a href="{%url 'register_community' %}">Has
        click aquí</a></p>

<section class="gallery-block compact-gallery">

    <div class="container-galery">
        <div class="row no-gutters">
            {% for c in comunidad %}
            <div class="col-md-6 col-lg-4 item zoom-on-hover">

                <a class="lightbox" href="{{ c.image.url }}">
                    <img class="img-fluid image" src="{{ c.image.url }}">
                    <span class="description">
                        <span class="description-heading">{{c.author}}</span>
                        <span class="description-body">{{c.description}}</span>
                    </span>
                </a>

            </div>
            {% endfor %}
        </div>

    </div>

</section>



{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.compact-gallery', {
        animation: 'slideIn'
    });
</script>
{% endblock %}