{% extends 'core/base.html' %}

{% load static %}
{% block js%}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
{% endblock %}

{% block  contenido%}
<article class="featured article">
    <div class="container_text">
        <div>
            <h2 class="title"><a href="#">Dr.Stone</a></h2>
            <p class="fecha">
                <time>Septiembre 18, 2020</time>
            </p>
        </div>
        <p class="extract">
            ¡Senku busca en América del Sur el origen de la Gran Petrificación en Dr. STONE ! En My Hero Academia
        </p>
        <a href="#" class="btn_link">Leer más</a>
    </div>
    <div class="container_thumbnail">
        <a href="#">
            <img src="{% static 'core/img/dr.jpg' %}" alt="" />
        </a>
    </div>
</article>
<main class="content_home">
    {% for n in news %}
    <article class="featured">
        <div class="container_thumbnail">
            <a href="{% url 'news' n.id %}"><img src="{{ n.image.url }}" alt="" /></a>
        </div>
        <div class="container_text">
            <div>
                <h2 class="title">
                    <a href="{% url 'news' n.id %}">{{n.headline}}</a>
                </h2>
                <p class="fecha">
                    <time>{{n.date}}</time>
                </p>
            </div>
            <p class="extract">
                {{n.synopsis}}
            </p>
            <a href="{% url 'news' n.id %}" class="btn_link">Leer más</a>
        </div>
    </article>
    {% endfor %}



</main>
<!-- No se incluyó el slider o carousel en la sección anterior, únicamente por enojo, se puede agregar.-->
<main role="main" class="carrusel">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Crea caja en bloque -->
        <ol class="carousel-indicators">
            <!-- Lista que define la composición del slider. -->
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Si se requiere modicar el alto o ancho, dar estilo CSS a esta sección. -->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img">
                    <img src="{% static 'core/img/img-12.jpg' %}" alt="Imagen personaje anime">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>

                <div class="carousel-caption text-left">

                </div>

            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img">
                    <img src="{% static 'core/img/img-13.jpg' %}" alt="Imagen personaje anime">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>

                <div class="carousel-caption text-right">

                </div>

            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img">
                    <img src="{% static 'core/img/img-14.jpg' %}" alt="Imagen personaje anime">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>
            </div>

        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</main>

{% endblock %}

{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}