{% extends 'core/base.html' %}

{% load static %}

{% block js %}

<script>
    function eliminarComunidad(id) {
        Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "warning",
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Sí, Eliminar!",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/delete/community/" + id + "/"
                }
            })
    }
</script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>

{% endblock%}

{% block contenido %}

<form action="" method="GET" class="filter">
    Filtrar por:
    <input type="search" name="author" placeholder="Autor..." />
    <input type="search" name="age" placeholder="Año..." />
    <button type="submit" class="btn btn-primary">Buscar</button>
    {% csrf_token %}
</form>

<table class="table table-striped">
    <tr>

        <th>Autor</th>
        <th>Demografía</th>
        <th>Descripción</th>
        <th>Año publicación</th>
        <th>Opciones</th>

    </tr>

    {% for c in queryset %}
    <tr>

        <td>{{ c.author }}</td>
        <td>{{ c.demography }}</td>
        <td>{{ c.description}}</td>
        <td>{{ c.age }}</td>

        <td>
            <a class="btn btn-info btn-sm" href="{% url 'modify_community' c.id %}">Modificar</a>
            <a class="btn btn-danger btn-sm" href="#" onclick="eliminarComunidad({{c.id}})">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}