{% extends 'core/base.html' %}

{% load static %}

{% block js %}

<script>
    function deleteNews(id) {
        Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "warning",
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Sí, Eliminar!",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/delete/news/" + id + "/"
                }
            })
    }
</script>
<script src="{% static 'core/js/confirmacion.js' %}"></script>

{% endblock%}

{% block contenido %}

<form action="" method="GET" class="filter">
    Filtrar por:
    <input type="search" name="headline" placeholder="Título..." />
    <button type="submit" class="btn btn-primary">Buscar</button>
    {% csrf_token %}
</form>

<table class="table table-striped">
    <tr>

        <th>Título</th>
        <th>Demografía</th>
        <th>Fecha publicación</th>
        <th>Opciones</th>

    </tr>

    {% for n in querysett %}
    <tr>

        <td>{{ n.headline }}</td>
        <td>{{ n.demography }}</td>
        <td>{{ n.date }}</td>

        <td>
            <a class="btn btn-info btn-sm" href="{% url 'modify_news' n.id %}">Modificar</a>
            <a class="btn btn-danger btn-sm" href="#" onclick="deleteNews({{n.id}})">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}