{% extends 'core/base.html' %}

{% block contenido %}

<form action="" method="POST" class="form_modify_community" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table_community_modify">
        <tr>
            <label for="">Autor*</label>
            <td>
                {{ form.author }}
            </td>
        </tr>
    </table>
    <table class="table_community_modify">
        <tr>
            <label for="">Año*</label>
            <td>
                {{ form.age }}
            </td>
        </tr>

    </table>
    <table class="table_community_modify">
        <tr>
            <label for="">Demografía*</label>
            <td>
                {{ form.demography }}
            </td>
        </tr>

    </table>
    <table class="table_community_modify">
        <tr>
            <label for="">Descripción*</label>
            <td>
                {{ form.description }}
            </td>
        </tr>
    </table>
    <table class="table_community_modify_img">
        <tr>
            <label for="">Imagen*</label>
            <td>
                {{ form.image }}
            </td>
        </tr>
    </table>
    <p>
        <br>
    </p>
    <div class="btn_modify_community">
        <input type="submit" value="Modificar">
    </div>
</form>

<div class="block_modify"></div>
<div class="art_modify"></div>
{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}