{% extends 'core/base.html' %}

{% block contenido %}

<form action="" method="POST" class="news_form_modify" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="news_table_modify">
        <tr>
            <label for="">Titular*</label>
            <td>
                {{ form.headline }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify">
        <tr>
            <label for="">Fecha*</label>
            <td>
                {{ form.date }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify">
        <tr>
            <label for="">Demografía*</label>
            <td>
                {{ form.demography }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify">
        <tr>
            <label for="">Sinopsis*</label>
            <td>
                {{ form.synopsis }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify">
        <tr>
            <label for="">Bajada*</label>
            <td>
                {{ form.byline }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify">
        <tr>
            <label for="">Entrada*</label>
            <td>
                {{ form.lead }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify">
        <tr>
            <label for="">Cuerpo*</label>
            <td>
                {{ form.body }}
            </td>
        </tr>
    </table>
    <table class="news_table_modify_img">
        <tr>
            <label for="">Imagen*</label>
            <td>
                {{ form.image }}
            </td>
        </tr>
    </table>
    <p>
        <br>
    </p>
    <div class="btn_news_modify">
        <input type="submit" value="Guardar">
    </div>
</form>
<div class="block_news"></div>
<div class="art_news"></div>

{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}