{% extends 'core/base.html' %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/news.css'%}">
{% endblock %}
{% block contenido%}

<div class="new_content">
    <form action="" class="form_news">
        <main class="news">
            <h1>
                {{news.headline}}
            </h1>
            <p>
                {{news.byline}}
            </p>
            <p>
                {{news.lead}}
            </p>
            <p>
                {{news.body}}
            </p>

        </main>
    </form>

</div>

<div class="block_show_news">
    <img src="{% static 'core/img/sidebar.jpg' %}" alt="">
</div>
<div class="art_show_news">
    <img src="{% static 'core/img/aside.jpg' %}" alt="">
</div>

{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}