{% extends 'core/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block contenido %}

<form action="" method="POST" class="form_community" enctype="multipart/form-data">

    {% csrf_token %}
    <table class="table_community">
        <tr>
            <label for="">Autor*</label>
            <td>
                {{ form.author }}
            </td>
        </tr>

    </table>
    <p></p>
    <table class="table_community">
        <tr>
            <label for="">Año*</label>
            <td>
                {{ form.age }}
            </td>
        </tr>

    </table>
    <table class="table_community">
        <tr>
            <label for="">Género*</label>
            <td>
                {{ form.demography }}
            </td>
        </tr>

    </table>
    <p></p>
    <p></p>
    <table class="table_community">
        <tr>
            <label for="">Descripción*</label>
            <td>
                {{ form.description }}
            </td>
        </tr>

    </table>
    <p></p>
    <table class="table_community_img">
        <tr>
            <label for="">Imagen*</label>
            <td>
                {{ form.image }}
            </td>
        </tr>

    </table>
    <p>
        <br></br>
    </p>
    <div class="btn_add_community">
        <input type="submit" value="Guardar">
    </div>

</form>
<div class="block_add_community"></div>
<div class="art_add_community"></div>

{% endblock %}