{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block contenido %}

<form action="" method="POST" class="form_login">
    {% csrf_token %}

    <label for="">Nombre de usuario*</label>

    {{ form.username }}

    <label for="">Contraseña*</label>

    {{ form.password }}

    <p></p>
    <div class="input_login">
        <a href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
        <p>
        </p>
        <input type="submit" value="Iniciar sesión">
    </div>
    <div class="register">
        <p> </p>
        <a href="{% url 'user_register' %}">¿Aún no tienes cuenta? Regístrate</a>
    </div>
    <p></p>
    <fieldset>
        <legend>Inicio de sesión con Facebook</legend>
        <div class="facebook_login">
            <a class="facebook" alt="Iniciar sesión con Facebook" href="{% url 'social:begin' 'facebook' %}">
                <i class="fab fa-facebook-square" alt="Iniciar sesión con Facebook"></i></a>
        </div>
    </fieldset>
</form>

<div class="block_login"></div>
<div class="art_login"></div>

{% endblock %}

{% block footer %}

<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}

{% block js %}
<script src="https://kit.fontawesome.com/d7a325d6b9.js" crossorigin="anonymous"></script>
{% endblock %}