{% extends 'core/base.html' %}

{% block contenido %}
<div class="restoration">
    <h2>
        Su contraseña se restabelció correctamente
    </h2>
    <p> <br>
        <br> </p>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}