{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block contenido %}

<form method="POST" class="form_recover">
    {% csrf_token %}
    <label for="">Correo electrónico*</label>
    {{form.email}}
    <p></p>
    <button type="submit" class="btn_recover">Recuperar mi contraseña</button>
    <p> <br> </p>
</form>
<div class="block_recover"></div>
<div class="art_recover"></div>

{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}