{% extends 'core/base.html' %}

{% block contenido %}
<div class="restoration">
    <h2>Restablecimiento de contraseña enviado</h2>
    <p>
        Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el
        correo
        electrónico que ingresó. Debería recibirlos en breve.

        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique
        su
        carpeta de correo no deseado.
    </p>
    <p> <br>
        <br> </p>
</div>

{% endblock %}
{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}