{% extends 'core/base.html' %}


{% block contenido %}

<form method="POST" class="form_new_password">

    {% csrf_token %}
    <label for="">Contraseña nueva*</label>
    {{form.new_password1}}
    <label for="">Confirmación de contraseña nueva*</label>
    {{form.new_password2}}
    <p></p>
    <div class="btn_new_password">
        <input type="submit" value="Cambiar mi contraseña" class="contra-btn">
    </div>
</form>

<div class="block_new_pass"></div>
<div class="art_new_pass"></div>
{% endblock %}