{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block contenido %}

<form action="" method="POST" class="form_register">
    {% csrf_token %}
    <label for="">Nombre*</label>
    {{ form.first_name }}
    <label for="">Apellido*</label>
    {{ form.last_name }}
    <label for="">Dirección de correo electrónico*</label>
    {{ form.email }}
    <label for="">Nombre de usuario*</label>
    {{ form.username }}
    <label for="">Contraseña*</label>
    {{ form.password1 }}
    <label for="">Confirmación de contraseña*</label>
    {{ form.password2 }}
    <p></p>
    <div class="btn_register">
        <input type="submit" value="Registrar" class="btn_register">
    </div>
</form>
<div class="art_register"></div>
<div class="block_register"></div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
</footer>
{% endblock %}